/*
 * IE6 fixes
 */

/*
 * IE7 fixes
 */
*:first-child+html #container {
	padding: 30px 0;
}

*:first-child+html #top {
	position: relative;
}

*:first-child+html footer {
	position: relative;
}

*:first-child+html .separators {
	height: 92px;
}

*:first-child+html .separators .ie7first {
	margin: 0 10px 30px 0;
}

*:first-child+html .boxes.featured li .orange {
	width: 180px;
}

*:first-child+html footer .gray .container {
	position: relative;
}

*:first-child+html .boxes.twitter li .actions .top {
	padding: 6px 0 0 12px;
}

*:first-child+html .boxes.twitter li .actions .top .reply span {
	top: 0;
}

*:first-child+html .boxes.twitter li .actions .top .retweet span {
	top: -1px;
}

*:first-child+html .boxes.twitter li .actions .top .favorite span {
	top: 1px;
}

/*
 * IE8 fixes
 */

a.symbol:before {
    content: '';
}

a.symbol {
    text-indent: 9999px !important;
}
.form-input {
	height: 38px;
}
.font-replace {
	position: relative;
	display: inline-block;
}
.main-container__icon .font-replace {
	right: 5px;
	top: -5px;
}
.main-container__cta .font-replace {
	left: -18px;
	top: -6px;
}
.main-container__cta .symbol {
	position: absolute;
	margin-left: -58px;
	height: auto;
	top: auto;
	line-height: inherit;
}

		















