/*
 * Container
 */
#container {
	padding: 30px 0;
}

.container {
	width: 740px;
	margin: 0 auto;
}

/*
 * Top
 */
#top {
	position: relative;
}

#top .gray nav ul li {
	font-size: 12px;
	padding: 8px 2px 8px 2px;
}

#top .gray nav ul .trigger {
	font-size: 12px;
}

#top .gray nav ul li a {
	padding: 0 5px;
}

#top .gray .links li {
	padding: 8px 0 0 8px;
}

/*
 * Dropdowns
 */
.dropdowns .dropdown,
.dropdowns .dropdown > ul > li > a {
	font-size: 13px;
}

/*
 * Header
 */
header {
	min-height: 300px;
	height: 300px;
}
header h1 {
	font: 400 30px/30px "Egyptian Slate W01 Bold", Arial
}
header p {
	font: 24px/30px Slate W01, Arial;
}
header .column {
	/*width: 314px;*/
	/*padding: 10px 0 0 30px;*/
}

header .intro {
	font: 400 32px/32px Slate W01, Arial
}

header .column:first-child {
	/*padding: 0 30px 0 0;*/
}



header .column ul li a {
	/*font-size: 31px;*/
}

header .column .column__heading {
	font: 400 22px/22px EgyptianSlateW01-BoldIt, Arial;
	padding-bottom: 20px;
}
header .column .column__link h2 {
	font: 400 24px/28px "Egyptian Slate W01 Bold", Arial;
}
.header__cta {
	font: 400 18px/18px "Egyptian Slate W01 Bold", Arial;
}
.contact-line {
	font: 400 12px/55px Slate W01 Bold, Arial;
	margin-left: 15px;
}
.social__icon {
	padding-left: 3px;
}

/*
 * Main Container
 */
.main-container__heading h1 {
	font: 400 22px/44px "Egyptian Slate W01 Bold", Arial;
}
.main-container__cta {
	font: 400 22px/65px "Egyptian Slate W01 Bold", Arial
}
.main-container__row h1 {
	font: 400 18px/50px "Egyptian Slate W01 Bold", Arial;
	padding-right: 10px;
}
.logo-row__img {
	margin-right: 12px;
}

/*
 * Tile Container
 */
.tile-container {
	height: 250px;
}
	.tile-container--tall {
		height: 350px;
	}

/*
 * Result list
 */
.result-item__col {
	width: 125px;
}
.result-item__col--first {
	width: 520px;
}
.result-item__col--last {
	padding-left: 5px;
}
.result-item__title {
	font-size: 16px;
	line-height: 1.4;
	padding-left: 5px;
}
.result-item__num {
	font: 400 16px/22px "Egyptian Slate W01 Bold", Arial;
}
.result-item__num:after {
	padding-left: 5px;
}
.result-item__col {
	min-height: 58px;
}
.result-item__cta {
	min-width: 100px;
}

/*
 * Separator
 */
.separator .title {
	font-size: 25px;
	margin: 0 25px 0 0;
}

.separator.jobs .title {
    width: 150px;
}

.separator .links li {
	padding: 0 15px 0 0;
}

.separators .separator {
	width: 315px;
}

.separators .separator .title {
	width: 250px;
}

.separator .sort li {
	font-size: 15px;
	padding: 0 10px 0 0;
}

.separator.jobs .sort li:first-child {
    padding-right: 10px;
}

.separator .sort li .button {
	width: 85px;
	font-size: 17px;
	margin: 0 5px 0 0;
}

.separator .search {
	width: 434px;
	background: url(../images/separator-search-ipad.png);
}

.separator .search .text {
	width: 400px;
}

.separator.jobs .sort li .search input[type="text"] {
    width: 110px;
    padding: 0 5px;
}

/*
 * Boxes
 */
.boxes > li {
	width: 177px;
}

.boxes > li:first-child {
	width: 179px;
}

.boxes.jobs > li .title {
	font-size: 17px;
}

.boxes.featured > li .image {
	width: 177px;
	overflow: hidden;
}

.boxes.featured > li:first-child .image {
	width: 179px;
}

.boxes.twitter > li .actions {
	width: 177px;
}

.boxes.twitter > li:first-child .actions {
	width: 179px;
}

.boxes.twitter > li .actions .top {
	padding: 6px 0 0 7px;
}

.boxes.twitter > li .actions .top li {
	padding: 0 2px;
}

.boxes.twitter > li .actions .bottom {
	padding: 8px 0 0 16px;
}

/*
 * Partners, Articles
 */
.partners .partner > li,
.articles .article > li {
	width: 200px;
}

.partners .partner > li:first-child,
.articles .article > li:first-child {
	width: 470px;
}

/*
 * Main
 */
.main {
	width: 470px;
}

/*
 * Top message
 */
.top-message {
	width: 470px;
}

/*
 * Team
 */
.team .users > li {
	padding: 0;
}

.team .users > li:first-child {
	padding: 0 50px 0 0;
}

/*
 * Article
 */
article .embed iframe {
	width: 470px;
}

/*
 * Aside
 */
aside {
	width: 200px;
}

aside .aside-button .button {
	width: 170px;
}

/*
 * Page title
 */
.page-title h1 span {
	font-size: 29px;
}

/*
 * Contact
 */
.contact ul li {
	padding: 0 0 25px 0;
}

.contact ul li:first-child {
	padding: 0 20px 25px 0;
}

.contact textarea {
	width: 448px;
}

/*
 * Testimonial
 */
#testimonial {
	font-size: 24px;
}

#testimonial .column {
	width: 335px;
}

#testimonial .column:first-child {
	margin: 0 30px 0 0;
	border-right: 1px solid #fff;
}

#testimonial p {
	width: 295px;
	padding: 0 20px 20px 0;
}

/*
 * Footer
 */
footer {
	position: relative;
}

.footer-toggle a {
	left: 10px;
}

footer .gray .left .columns {
	width: 515px;
}

footer .gray .right {
	width: 195px;
}