/*
 * Default on web site
 */
body {
	font: 18px/22px Slate W01, Arial;
	color: #828282;
	background: #000 url(../images/bg_pattern.jpg) repeat 0 0;
}

strong {
	font-family: Slate W01 Bold;
	font-weight: 400;
}

a {
	color: #f58228;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

button,
input,
select,
textarea {
	font-family: Slate W01, Arial;
}

/*
 * Mono Social Icons Font
 * http://drinchev.github.io/monosocialiconsfont/
 */
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

a.symbol {
    background: #9f9f9f;
    padding: 7px 5px 3px 5px;
    color: white;
    text-decoration: none;
}

/*
 * Buttons
 */
.button {
	display: inline-block;
	zoom: 1;
	*display: inline;
	text-decoration: none;
}

.button.orange {
	height: 42px;
	font: 400 18px/42px Slate W01 Bold, Arial;
	color: #fff;
	padding: 0 15px;
	text-transform: uppercase;
	background: #e88232;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.7);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.7);
}

.button.orange:hover {
	/*background: #828282;*/
}

/*
 * Selectbox
 */
.jquery-selectbox {
	position: relative;
	width: 186px;
	height: 34px;
	font: 400 14px/34px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #000;
	padding: 0 10px;
	background: #e1e1e1;
	z-index: 0;
}

.jquery-selectbox.selecthover {
	z-index: 40;
}

.jquery-selectbox .jquery-selectbox-currentItem {
	white-space: nowrap;
	display: block;
	width: 159px;
	overflow: hidden;
	cursor: pointer;
}

.jquery-selectbox .jquery-selectbox-list {
	display: none;
	position: absolute;
	top: 34px;
	left: 0;
	width: 186px;
	padding: 10px;
	background: #828282;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 50;
}

.jquery-selectbox .jquery-selectbox-moreButton {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 34px;
	background: url(../images/selectbox-arrow.png) no-repeat center center;
	cursor: pointer;
}

.jquery-selectbox .jquery-selectbox-item {
	display: block;
	height: 26px;
	font: 400 14px/26px Slate W01 Bold, Arial;
	text-transform: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	overflow: hidden;
}

.jquery-selectbox .jquery-selectbox-item.listelementhover {
	position: relative;
	color: #f58228;
}

/*
 * Container
 */
#container {
	padding: 150px 0 30px 0;
}

.container {
	width: 950px;
	margin: 0 auto;
}

/*
 * Page title
 */
.page-title {
	position: relative;
	padding: 10px 25px 5px 25px;
	background: url(../images/gray90.png);
	z-index: 2;
}

.page-title h1 {
	font: 400 18px/50px Slate W01 Bold, Arial;
	color: #fff;
}

.page-title h1.posted {
	font: 400 18px/50px Slate W01 Italic, Arial;
	color: #fff;
}

.page-title h1 span {
	display: inline-block;
	zoom: 1;
	*display: inline;
	font: normal 400 40px/50px "Egyptian Slate W01 Bold", Arial;
	color: #f58228;
	padding: 0 25px 0 0;
	margin: 0 25px 0 0;
	border-right: 1px solid #fff;
}

/*
 * Content
 */
.content {
	margin: 0 0 30px 0;
	padding: 35px 25px;
	background: #fff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.6);
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.content.heights {
	padding: 35px 25px 105px 25px;
}

.content.higher {
	position: relative;
	margin: 0 0 10px 0;
	z-index: 97;
}

.content.lower {
	position: relative;
	z-index: 95;
}
.content.disqus-content{ 
    padding: 35px 25px 105px 25px; 
}
.content.disqus-content aside{
    border: 0;
    bottom: 0px;
}

.font-replace {
	display: none;
}

/*
 * Main Container
 */
.main-container {
	position: relative;
	background-color: #FFF;
	border-left: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	border-right: 3px solid #ccc;
	margin-bottom: 30px;
	-webkit-box-shadow: 0 8px rgba(0,0,0,.15);
	-moz-box-shadow: 0 8px rgba(0,0,0,.15);
	box-shadow: 0 8px rgba(0,0,0,.15);
}
	.main-container__heading {
		background-color: #828282;
		height: 60px;
		position: relative;
		width: 100%;
		padding: 0 3px;
		left: -3px;
	}
	.main-container__heading h1 {
		font: 400 24px/44px "Egyptian Slate W01 Bold", Arial;
		color: #FFF;
		text-transform: uppercase;
		display: inline-block;
		border-right: 1px solid #FFF;
		border-left: none;
		border-top: none;
		border-bottom: none;
		vertical-align: middle;
		position: relative;
		top: 50%;
		width: 25%;
		margin-top: -22px;
		text-align: center;
		float: left;
	}
	.main-container__subnav .subnav-bar__link {
		position: relative;
		font: 14px/60px Slate W01,Arial;
		color: #FFF;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		vertical-align: middle;
		padding-left: 40px;
		float: left;
	}
	.main-container__subnav .subnav-bar__link:hover {
		color: #f58228;
	}
	.main-container__subnav .subnav-bar__link--selected:after {
		display: block;
		position: absolute;
		content: '';
		width: 100%;
		height: 8px;
		background-image: url(../images/icon-arrow-select.png);
		background-repeat: no-repeat;
		background-position: top center; 
		margin-left: -20px;
	}
	.main-container__subnav .chevron {
		display: none;
	}
	.lt-ie8 .main-container__subnav .chevron {
		display: none;
	}
	.lt-ie8 .main-container__subnav .subnav-bar__link--selected .chevron {
		display: block;
		position: absolute;
		width: 100%;
		height: 8px;
		background-image: url(../images/icon-arrow-select.png);
		background-repeat: no-repeat;
		background-position: top center; 
		margin-left: 20px;
		bottom: -8px;
		left: 0;
	}
	.main-container__cta {
		position: relative;
		font: 400 24px/65px "Egyptian Slate W01 Bold", Arial;
		display: block;
		background-color: #f58228;
		text-transform: uppercase;
		text-decoration: none;
		color: #FFF;
		/*border: 1px solid #ac5b1c;*/
		top: 3px;
		left: -3px;
		width: 100%;
		padding: 0 3px;
		text-align: center;
		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
		-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
		box-shadow: inset 0 0 5px rgba(0,0,0,.75);
	}
	.main-container__cta .symbol {
		font-size: 72px;
		height: 65px;
		overflow: hidden;
		position: relative;
		top: 10px;
		line-height: 0.1;
	}
	.lt-ie8 .main-container__cta .symbol {
		top: -8px;
	}
	.main-container__icon {
		position: absolute;
		right: 15px;
		text-decoration: none;
		color: #FFF;
		font-size: 55px;
		line-height: 1;
	}
	.main-container__filters {
		border-top: 2px solid #e6e6e6;
		padding: 0 20px;
	}
	.main-container__filters .check-list {
		display: none;
	}
	.main-container__filters .btn-primary {
		margin-top: 20px;
	}
	.main-container__filters--nodivider {
		border-top: none;	
	}
	.main-container__content {
		padding: 4%;
	}
	.main-container__toggle {
		display: block;
		font: 400 20px/50px "Egyptian Slate W01 Bold", Arial;
		color: #f58026;
		text-transform: uppercase;
		text-decoration: none;
		background-image: url(../images/icon-accordian.png);
		background-repeat: no-repeat;
		background-position: right 16px;
	}
	.main-container__filters--expanded .main-container__toggle {
		background-position: right -47px;
	}

.main-container--half {
	width: 48.5%;
	float: right;
}
	.main-container__heading--no-divider h1 {
		border-right: none;
		width: auto;
		padding-left: 27px;
	}

.main-container--light {
	background-color: #FFF;
	padding: 3%;
	border: none;
}
	.main-container__row {
		padding-top: 25px;
	}
	.main-container__row:first-child {
		border-bottom: 3px solid #e0e0e0;
		padding-top: 0;
	}
	.main-container__row h1 {
		font: 400 20px/50px "Egyptian Slate W01 Bold", Arial;
		text-transform: uppercase;
		color: #828282;
		float: left;
		padding-right: 50px;
		padding-bottom: 25px;
	}

.main-container--results {
	padding: 4%;
	border-top: 3px solid #ccc;
}
	.main-container--results h1 {
		font: 400 24px/24px "Egyptian Slate W01 Bold", Arial;
		color: #f58026;
	}

.main-container--tabbed {
}
	.main-container--tabbed .tab-section {
		display: none;
	}
	.main-container--tabbed .tab-section--selected {
		display: block;
	}
/*
 * Logo ROw
 */
.logo-row {
	float: left;
	padding-top: 20px;
}
	.logo-row--first {
		padding-top: 0;		
	}
	.logo-row__img {
		display: inline-block;
		margin-right: 25px;
	}
	

/*
 * Container Row
 */
.container-row .main-container--half:first-child {
	float: left;
}


/*
 * Tile Container
 */
.tile-container {
	padding-top: 36px;
	padding-bottom: 30px;
	height: 220px;
}
	.tile-container--tall {
		height: 280px;
	} 


/*
 * Tile
 */
.tile {
	position: relative;
	width: 17%;
	float: left;
	padding-left: 3%;
	padding-right: 5%;
	height: 100%;
}
	.tile:after {
		position: absolute;
		content: '';
		width: 1px;
		background-color: #e0e0e0;
		height: 105%;
		top: -10px;
		right: 0;
	}
	.tile__date {
		font: 400 12px/12px Slate W01 Bold, Arial;
		color: #828282;
		margin-bottom: 15px;

	}
	.tile__heading {
		font: 400 16px/16px Slate W01 Bold, Arial;
		display: block;
		color: #f58026;
		text-decoration: none;
		margin-bottom: 15px;
	}
	.tile__body {
		font-size: 14px;
		line-height: 1.4;
	}
	.tile__cta {
		position: absolute;
		font: 400 14px/14px Slate W01 Bold Italic, Arial;
		text-transform: uppercase;
		color: #f58026;
		bottom: 15px;
		cursor: pointer;
	}
	.tile__tweet {
		font: 400 14px/20px Slate W01 Bold,Arial;
		color: #828282;
		margin-bottom: 15px;
	}
	.tile__tweet--time {
		font: 400 14px/30px Slate W01 Bold,Arial;
		margin-bottom: 0;
	}
	.tile__tweet--time .symbol {
		position: relative;
		font-size: 30px;
		line-height: 30px;
		top: 4px;
	}

/*
 * Form Elements
 */
.form-input {
	background-color: #f2f2f2;
	color: #828282;
	border-top: 6px solid #dfdfdf;
	border-left: 6px solid #dfdfdf;
	border-bottom: none;
	border-right: none;
	line-height: 38px;
	font-size: 18px;
	padding: 0 20px;
	width: 70%;
	margin-bottom: 20px;
	min-height: 38px;
}
.check-list {
	margin-bottom: 20px;
}
	.check-list__item {
		float: left;
		width: 35%;
		padding-bottom: 5px;
	}
	.check-list__item input {
		background-color: #f2f2f2;
	}
	.check-list__item label {
		padding-left: 10px;
		color: #828282;
	}

.btn-primary {
	font: 400 18px/18px "Egyptian Slate W01 Bold", Arial;
	display: inline-block;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	background-color: #f58228;
	padding: 14px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
	box-shadow: inset 0 0 5px rgba(0,0,0,.75);
	min-width: 160px;
}
.spacer {
	color: #f58026;
	padding-left: 15px;
	padding-right: 5px;
}



/*
 * Flexslider overrides
 */
.flexslider {
	margin-top: 25px;
	margin-bottom: 36px;
	margin-left: 15%;
	margin-right: 12%;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	-o-border-radius: 0; 
	border-radius: 0; 
	-webkit-box-shadow: none; 
	-moz-box-shadow: none; 
	-o-box-shadow: none; 
	box-shadow: none;
	border: none;
	min-height: 120px;
}
.flex-control-nav {
	position: relative;
	bottom: auto;
	top: 50%;
	margin-top: -5.5px;
	margin-left: 5px;
	line-height: 11px;
	height: 100%;
}
.flex-controls-contianer {
	float: left;
	height: 100%;
}
.flex-control-next,
.flex-control-prev {
	position: absolute;
	width: 13px;
	height: 40px;
	font-size: 0;
	background-image: url(../images/flexslider-controls.png);
	z-index: 20;
	top: 50%;
	margin-top: -20px;
}
.flex-control-next {
	right: 0;
	background-position: 0 0;
	right: -25px;
}
.flex-control-prev {
	left: 0;
	background-position: -13px 0;
	left: -45px;
}
.flex-control-paging li a {
	background: #a8a8a8;
	background: rgba(168,168,168,0.7);
}
.flex-control-paging li a:hover {
	background: #FFF;
	background: rgba(255,255,255,0.7);
}
.flex-control-paging li a.flex-active {
	background: #FFF;
}



/*
 * Flex Slide
 */
.flex-slide {
}
	.flex-slide__heading {
		display: block;
		font: 400 18px/18px Slate W01 Bold, Arial;
		color: #f58026;
		text-decoration: none;
		margin-bottom: 10px;
	}
	.flex-slide__body {
		font-size: 18px;
		line-height: 1.4;
	}
	.flex-slide__cta {
		font: 400 16px/16px Slate W01 Bold Italic, Arial;
		text-transform: uppercase;
		color: #f58026;
		padding-left: 5px;
	}

/*
 * Main
 */
.main {
	position: relative;
	float: left;
	width: 660px;
	padding: 0 0 40px 0;
	border-bottom: 1px solid #000;
}

.border-line {
    position: absolute;
    width: 210px;
    height: 1px;
    background: black;
    display: block;
    right: -240px;
    bottom: -1px;
    font: 0/0 a;
}

/*
 * Learn more
 */
.learn-more {
	font: 18px/22px Slate W01 Italic, Arial;
	color: #000;
	padding: 30px 0 0 0;
}

/*
 * Share
 */
.share {
	position: absolute;
	bottom: -90px;
	left: 0;
}

.share li {
	float: left;
	padding: 0 10px 0 0;
}

/*
 * User
 */
.user {
	padding: 30px 10px 10px 10px;
	border-top: 1px solid #909090;
}

.user img {
	display: block;
	width: 180px;
	margin: 0 0 10px 0;
}

.user li {
	font: 14px/22px Slate W01, Arial;
	padding:  0 0 10px 0;
}

.user li .title {
	display: block;
	font: 400 18px/22px Slate W01 Bold, Arial;
	color: #000;
}

.user li a {
	color: #828282;
	text-decoration: none;
}

.user .social-links a {
	color: #000;
}

.user li a:hover {
	color: #f58228;
}


.user li strong {
	font-family: Slate W01 Bold, Arial;
}

/*
 * Aside
 */
aside {
	float: right;
	width: 210px;
	padding: 0 0 40px 0;
	border-bottom: 1px solid #000;
}

/*
 * Dropdowns
 */
.dropdowns {
	position: relative;
	height: 0;
	z-index: 96;
}

.dropdowns.main-dropdowns {
	z-index: 98;
}

.dropdowns .dropdown {
	display: none;
	position: absolute;
	text-transform: uppercase;
	background: #828282;
	font-size: 14px;
	font-family: Slate W01 Bk, Arial;
	text-shadow: 0 0 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.dropdowns .dropdown > ul {
	padding: 25px 15px 20px 15px;
}

.dropdowns .dropdown > ul > li {
	padding: 0 10px 4px 0;
	margin: 6px 0 0 0;
	border-bottom: 1px solid #fff;
}

.dropdowns .dropdown ul li a {
	text-decoration: none;
	color: #fff;
}

.dropdowns .dropdown ul .current a,
.dropdowns .dropdown ul li .active {
	color: #f58228;
}

.dropdowns .dropdown ul li a:hover {
	color: #f58228;
	font-family: "Slate W01 Bk Italic", Arial;
}

.dropdowns .dropdown > ul > li > a,
.dropdowns .dropdown > ul > li > a:hover {
	font: 400 14px/16px Slate W01 Bold, Arial;
}

.dropdowns .dropdown.multiple > ul {
	float: left;
	width: 200px;
	padding: 25px 15px 20px 45px;
}

.dropdowns .dropdown.multiple > ul:first-child {
	padding: 25px 15px 20px 15px;
}

/*
 * Separators
 */
.separators .separator {
	float: left;
	width: 420px;
}

.separators .separator:first-child {
	margin: 0 10px 30px 0;
}

.separators .separator .title {
	width: 350px;
	border: 0;
}

/*
 * Separator
 */
.separator {
	padding: 10px 25px;
}

.separator .title {
	display: block;
	float: left;
	width: 250px;
	height: 42px;
	font: 400 30px/40px "Egyptian Slate W01 Bold", Arial;
	text-transform: uppercase;
	color: #828282;
	margin: 0 35px 0 0;
	border-right: 2px solid #828282;
}

.separator .rss {
	float: right;
	display: block;
	position: relative;
	top: 10px;
	width: 24px;
	height: 23px;
	background: url(../images/rss.png) 0 0;
}

.separator .rss:hover {
	background-position: 0 -23px;
}

/*
 * Boxes
 */
.boxes {
	margin: 0 0 30px 0;
}

.boxes > li {
	float: left;
	width: 230px;
	height: 304px;
	margin: 0 0 0 10px;
}

.boxes > li:first-child {
	margin: 0;
}

.boxes > li .orange {
	color: #fff;
	padding: 25px;
	background: #f58228;
}

.boxes > li .orange p {
	font: 15px/17px Slate W01, Arial;
}

.boxes > li .orange p strong {
	font: 700 15px/17px Slate W01 Bold, Arial;
}

.boxes > li .orange p em {
	font: 15px/17px Slate W01 Italic, Arial;
}

.boxes > li .orange .more {
	font: 400 12px/15px Slate W01 Bold Italic, Arial;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid #f8a15e;
}

.boxes > li .orange .more:hover {
	border-color: #fff;
}

/*
 * Pagination
 */
.pagination li {
	float: left;
	font: 400 18px/20px Slate W01 Bold, Arial;
	padding: 0 6px;
}

.pagination li:first-child {
	padding: 0 6px 0 0;
}

.pagination li a {
	text-decoration: none;
	color: #828282;
}

.pagination li .current,
.pagination li a:hover {
	color: #f58228;
}

.pagination li .page {
	display: block;
	position: relative;
	top: 3px;
	width: 11px;
	height: 12px;
	background: url(../images/pagination.png);
}

.pagination li .page.prev {
	background-position: 0 0;
}

.pagination li .page.prev:hover {
	background-position: 0 -12px;
}

.pagination li .page.next {
	background-position: -11px 0;
}

.pagination li .page.next:hover {
	background-position: -11px -12px;
}

/*
 * Disqus
 */
#disqus_thread {
	height: auto !important;
	min-height: 370px;
	height: 370px;
}

#dsq-content h3 {
	color: #000;
}
#disqus_thread #dsq-comments li { 
    background: none;
}
#dsq-content #dsq-global-toolbar .dsq-global-toolbar-right li { 
    background: none; 
}
#dsq-content #dsq-global-toolbar .dsq-global-toolbar-left li { 
    background: none; 
}