/*
 * Top
 */
#top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2000;
	-webkit-box-shadow: 0 8px rgba(0,0,0,.15);
	-moz-box-shadow: 0 8px rgba(0,0,0,.15);
	box-shadow: 0 8px rgba(0,0,0,.15);
}

.toolbar-drawer #top {
    top: 65px;
}

#top .shadow {
	position: relative;
}

#top .white {
	height: 83px;
	background-color: #fff;
	z-index: 100;
}

#top .white .logo {
	float: left;
	display: block;
	width: 112px;
	height: 55px;
	text-indent: -9999px;
	background: url(../images/logo.png);
	margin-top: 14px;
}

#top .white .right {
	position: relative;
	float: right;
	margin-top: 26px;
}
.lt-ie8 #top .white .right {
	width: 450px;
}

#top .white .right .search {
	float: left;
	width: 230px;
	height: 27px;
	padding: 5px 5px 0 5px;
	background: url(../images/top-search.png);
	margin-right: 20px;
}
#top .white .right .search:after {
	position: absolute;
	display: block;
	width: 2px;
	height: 42px;
	background-color: #e8e8e8;
	content: '';
	top: -5px;
	left: 259px;
}

#top .white .right .social {
	float: right;
	margin-left: 20px;
}
.lt-ie8 #top .white .right .social {
	border-left: 2px solid #e8e8e8;
	margin-left: 0;
	padding-left: 20px;
}

#top .white .right .search .text {
	float: left;
	width: 195px;
	height: 22px;
	font: 14px/22px Slate W01, Arial;
	color: #000;
	background: #fff;
	border: 0;
}

#top .white .right .search .submit {
	float: right;
	width: 15px;
	height: 16px;
	background: #fff url(../images/top-magnifier.png) no-repeat 0 0;
	border: 0;
	cursor: pointer;
	position: relative;
	left: -5px;
	top: 2px;
}

#top .white .right ul {
	clear: both;
	float: right;
	padding: 17px 0 0 0;
}

#top .white .right ul li {
	float: left;
	font: 18px/18px Slate W01, Arial;
	text-transform: uppercase;
	padding: 0 0 0 20px;
}

#top .white .right ul .niche {
	font: 400 18px/18px Slate W01 Bold Italic, Arial;
}

#top .white .right ul li a {
	text-decoration: none;
	color: #000;
}

#top .white .right ul li a:hover {
	color: #f58228;
}

#top .gray {
	/*padding: 10px 0 0 0;*/
	padding: 0 0 0 0;
	background: #828282;
	z-index: 99;
}

.contact-line {
	font: 400 14px/55px Slate W01 Bold, Arial;
	padding-top: 14px;
	margin-left: 25px;
	float: left;
}

#top .gray nav {
	float: left;
}

#top .gray nav ul li {
	float: left;
	font: 400 14px/24px Slate W01 Bk, Arial;
	text-transform: uppercase;
	text-shadow: 0 0 4px rgba(0,0,0,0.3);
	padding: 10px 5px 10px 5px;
}

#top .gray nav ul li.selected {
	background-color: #555555;
}

#top .gray nav ul .trigger {
	font: 400 14px/24px Slate W01 Bold, Arial;
}

#top .gray nav ul li a {
	display: block;
	height: 24px;
	color: #fff;
	text-decoration: none;
	padding: 0 10px;
}

#top .gray nav ul li a:hover {
	color: #f58228;
}

#top .gray nav ul li.hover a {
	color: #fff;
	background: #e88232;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.7);
	box-shadow: inset 0 0 3px rgba(0,0,0,0.7);
}

#top .gray nav ul li.hover a:hover {
	color: #fff;
}

#top .gray .links {
	float: right;
	font: 400 11px/24px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #fff;
}

#top .gray .links li {
	float: left;
	text-shadow: 0 0 4px rgba(0,0,0,0.3);
	padding: 10px 0 0 10px;
}

#top .gray .links li a {
	text-decoration: none;
	color: #fff;
}

#top .gray .links li a:hover {
	color: #f58228;
}

#top .gray .links .niche {
	font-family: Slate W01 Bold Italic, Arial;
}

/*
 * Header
 */
header {
	position: relative;
	height: auto !important;
	min-height: 340px;
	height: 340px;
	letter-spacing: 2px;
	text-shadow: 0 0 3px rgba(0,0,0,0.3);
	color: #fff;
	/*padding: 35px 25px 20px 25px;*/
	padding: 4% 4% 0 4%;
	margin: 0 0 30px 0;
	/*background: url(../images/orange90.png);*/
	background: rgb(245,128,38);
	background: rgba(245,128,38,0.9);
	-webkit-box-shadow: 0 8px rgba(0,0,0,.15);
	-moz-box-shadow: 0 8px rgba(0,0,0,.15);
	box-shadow: 0 8px rgba(0,0,0,.15);
}
header .intro {
	padding: 0 0 4% 0;
	text-align: center;
	font: 400 36px/36px Slate W01, Arial;
}

header h1 {
	font: 400 36px/36px "Egyptian Slate W01 Bold", Arial;
	text-transform: uppercase;
}

header p {
	font: 26px/30px Slate W01, Arial;
	letter-spacing: -0.5px;
	padding: 30px 0 0 0;
}

header p a {
	color: #fff;
}

header .uppercase {
	font: 26px/30px Slate W01 Italic, Arial;
	text-transform: uppercase;
}
/*
header .magenta {
	color: #ed145b;
}

header .magenta2 {
	color: #ec008c;
}
*/
header .magenta {
	color: #fff;
}

header .magenta2 {
	color: #fff;
}

header .column {
	position: relative;
	float: left;
	width: 46%;
	margin-left: 4%;
}

header .column.front {
}

header .column.front a {
	color: #000;
}

header .column--first {
	margin-left: 0;
	margin-right: 4%;
}
header .column--first:after {
	background-color: #f9a362;
	position: absolute;
	display: block;
	width: 1px;
	height: 110%;
	content: '';
	top: -10px;
	left: 109%;
}

header .column ul {
	margin: 0 30px 0 0;
}

header .column ul li {
	font: 400 23px/24px Slate W01 Bold, Arial;
	text-transform: uppercase;
	padding: 9px 10px;
	border-bottom: 2px solid #fff;
}

header .column ul .looking {
	font: 400 26px/26px EgyptianSlateW01-BoldIt, Arial;
}

header .column ul li a {
	font: 400 36px/36px "Egyptian Slate W01 Bold", Arial;
	text-decoration: none;
	color: #fff;
}

header .column ul li .active,
header .column ul li a:hover {
	color: #000;
}

header .column p {
	font: 400 34px/34px "Slate W01 Bk Italic", Arial;
	padding: 10px 0 50px 0;
}





header .column .column__heading {
	font: 400 26px/26px EgyptianSlateW01-BoldIt, Arial;
	text-transform: uppercase;
	border-bottom: 2px solid #FFF;	
	text-align: center;
	padding-bottom: 25px;
}
header .column .column__heading span {
	color: #000;
}
header .column .column__link {
	display: block;
	text-transform: uppercase;	
	text-decoration: none;
	border-bottom: 2px solid #FFF;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
header .column .column__link h2 {
	font: 400 28px/28px "Egyptian Slate W01 Bold", Arial;
	color: #000;
}

/*
 * Jobs Header
 */
.header--short {
	height: auto;
	min-height: 0;
	padding-bottom: 4%;
}
	.header__body {
		width: 65%;
		float: left;
	}
	.header__cta {
		position: absolute;
		right: 4%;
		bottom: 0;
		margin-bottom: 5%;
		font: 400 22px/22px "Egyptian Slate W01 Bold", Arial;
		display: inline-block;
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		padding: 15px 20px;
		text-align: center;
		background-color: #fff;
		border-top: 5px solid #FFF;
		border-bottom: 5px solid #fbceab;
		-webkit-box-shadow: 0 8px rgba(0,0,0,.15), inset 0 0 56px 1px rgba(244,140,59,.14);
		-moz-box-shadow: 0 8px rgba(0,0,0,.15), inset 0 0 56px 1px rgba(244,140,59,.14);
		box-shadow: 0 8px rgba(0,0,0,.15), inset 0 0 56px 1px rgba(244,140,59,.14);
	}

/*
 * Main heading
 */
.main h2 {
	font: 400 18px/22px Slate W01 Bold, Arial;
	color: #000;
}

.main h2 a {
	text-decoration: none;
	color: #000;
}

.main h2 a:hover {
	color: #f58228;
}

/*
 * Main message
 */
.main .message {
	height: 70px;
	font: 400 18px/22px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #f58228;
	margin: 0 0 30px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.main .message p {
	padding: 15px 0 0 0;
}

/*
 * Main posts
 */
.main .posts ul li {
	padding: 0 0 25px 0;
}

.main .posts ul li p {
	font: 18px/22px Slate W01, Arial;
}

.main .posts ul li p strong {
	font: 400 18px/22px Slate W01 Bold, Arial;
}

.main .posts ul li p em {
	font: 18px/22px Slate W01 Italic, Arial;
}

.main .posts.uppercase ul li h2 {
	text-transform: uppercase;
}

/*
 * Main Article
 */
.main article h2 {
	font: 400 18px/24px Slate W01 Bold, Arial;
	color: #f58228;
	padding: 0 0 20px 0;
}

.main article h3 {
	font: 400 18px/23px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #000;
	padding: 0 0 3px 0;
}

.main article h4 {
	font: 400 17px/23px Slate W01 Bold, Arial;
	color: #f58228;
}

.main article h4.uppercase {
	text-transform: uppercase;
}

.main article em {
	font: 400 18px/22px Slate W01 Bold Italic, Arial;
}

.main article p {
	padding: 0 0 20px 0;
}

.main article p strong {
	font: 400 18px/22px Slate W01 Bold, Arial;
}

.main article ul {
	padding: 0 0 20px 0;
}

.main article ul li {
	padding: 0 0 5px 15px;
	background: url(../images/bullet.png) no-repeat left 9px;
}

.main article .gray {
	color: #828282;
}

.main article .embed {
	padding: 30px 0 20px 0;
}

.main article .list-description {
	font: 14px/18px Slate W01, Arial;
	padding: 20px 0 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.main article .list-description h4 {
	font-size: 14px;
}

.main article .apply {
	font: 18px/22px Slate W01 Italic, Arial;
	color: #000;
	padding: 0 0 20px 0;
}

.main article .apply a {
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #bfbfbf;
}

.main article .apply a:hover {
	border-color: #000;
}

/*
 * Main columns
 */
.main .columns .user {
	float: left;
	max-width: 180px;
	padding: 0 40px 0 0;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main .columns article {
	float: left;
	font: 14px/20px Slate W01, Arial;
	width: 440px;
}

.main .columns article strong {
	font: 400 14px/20px Slate W01 Bold, Arial;
}

.main .columns article em {
	font: 14px/20px Slate W01 Italic, Arial;
}

/*
 * Articles
 */
.articles .article > li {
	position: relative;
	float: right;
	width: 210px;
	padding: 0 0 30px 0;
	margin: 0 0 30px 0;
	border-bottom: 1px solid #000;
}

.articles .article > li:first-child {
	float: left;
	width: 660px;
}

.articles .article li h2 {
	font: 400 18px/24px Slate W01 Bold, Arial;
	padding: 0 0 10px 0;
}

.articles .article li h2 span {
	font: 400 20px/22px Slate W01 Bold, Arial;
	color: #f58228;
}
.articles .article li h2 a { 
    color: #828282; text-decoration: none; 
}
.articles .article li h2 a span { 
    color: #f58228; 
}
.articles .article li h2 time {
	font: 400 18px/24px Slate W01 Italic, Arial;
}

.articles .article li .more {
	font: 400 13px/18px Slate W01 Bold Italic, Arial;
	text-transform: uppercase;
	text-decoration: none;
	color: #f58228;
	border-bottom: 1px solid #fce0c9;
}

.articles .article li .more:hover {
	border-color: #f58228;
}

.articles .article li .actions {
	position: absolute;
	left: 10px;
	bottom: 30px;
}

.articles .article li .actions li {
	font: 400 12px/18px Slate W01 Bold, Arial;
	text-transform: uppercase;
}

.articles .article li .actions li a {
	color: #000;
	text-decoration: none;
}

.articles .article li .actions li a:hover {
	color: #f58228;
}

/*
 * Lists
 */
.lists h3 {
	font: 400 14px/22px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #f58228;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #969696;
}

.lists .list {
	word-wrap: break-word;
	padding: 0 0 30px 0;
}

.lists .list > li {
	float: left;
	width: 30%;
	padding: 0 0 0 5%;
}

.lists .list > li:first-child {
	padding: 0;
}

.lists .list li ul li {
	font: 14px/21px Slate W01, Arial;
	padding: 0 0 0 15px;
	background: url(../images/bullet.png) no-repeat left 9px;
}

.lists .list li ul li a {
	color: #828282;
	text-decoration: none;
}

.lists .list li ul li a:hover {
	color: #f58228;
}

/*
 * Partners
 */
.partners {
	padding: 0 0 40px 0;
}

.partners .partner {
	clear: both;
}

.partners .partner.top > li {
	padding: 20px 0;
	border-top: 1px solid #000;
}

.partners .partner.top > li p {
	font: 18px/22px Slate W01 Bold, Arial;
	color: #000;
	padding: 0;
}

.partners .partner.top > li ul li {
	font: 18px/22px Slate W01 Italic, Arial;
	text-transform: uppercase;
	color: #000;
}

.partners .partner.top > li ul .cn {
	font: normal 400 18px/22px Slate W01 Bold, Arial;
}

.partners .partner.last {
	position: relative;
}

.partners .partner > li {
	position: relative;
	float: right;
	width: 210px;
	font: 14px/20px Slate W01, Arial;
	padding: 0 0 10px 0;
	margin: 0 0 30px 0;
	border-bottom: 1px solid #000;
}

.partners .partner > li:first-child {
	float: left;
	width: 660px;
}

.partners .partner > li h4 {
	font: 400 14px/20px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #f58228;
}

.partners .partner > li p {
	padding: 0 0 20px 0;
}

.partners .partner > li a {
	color: #828282;
}

.partners .partner > li a:hover {
	text-decoration: none;
}

.partners .partner .learn-more {
	padding: 20px 0;
}

.partners .partner .learn-more a {
	color: #f58228;
}

.partners .partner.last-partner > li { border: 0; margin: 0 }

/*
 * Team
 */
.team {
	padding: 30px 0;
	border-top: 1px solid #000;
}

.team.first {
	padding: 0 0 30px 0;
	border: 0;
}

.team h2 {
	font: 400 18px/22px Slate W01 Bold, Arial;
	color: #f58228;
}

.team > p {
	font: 17px/22px Slate W01, Arial;
	padding: 0 0 20px 0;
}

.team .users > li {
	float: left;
	width: 180px;
	padding: 0 0 0 60px;
}

.team .users > li:first-child {
	padding: 0;
}

.team .users > li img {
	width: 180px;
	height: 180px;
}

.team .users > li .user {
	padding: 20px 0 0 0;
	border: 0;
}

.team .users > li .user li .more {
	font: 400 12px/16px Slate W01 Bold Italic, Arial;
	text-transform: uppercase;
	text-decoration: none;
	color: #f58228;
	border-bottom: 1px solid #fce0c9;
}

.team .users > li .user li .more:hover {
	border-color: #f58228;
}

/*
 * Contact
 */
.contact {
	padding: 0 0 30px 0;
	border-bottom: 1px solid #000;
}

.contact label {
	display: block;
	font: 400 13px/22px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #000;
	padding: 0 0 3px 0;
}

.contact .text {
	width: 186px;
	height: 34px;
	font: 14px/34px Slate W01, Arial;
	padding: 0 10px;
	background: #e1e1e1;
	border: 0;
}

.contact textarea {
	width: 638px;
	height: 215px;
	font: 14px/20px Slate W01, Arial;
	padding: 10px;
	background: #e1e1e1;
	border: 0;
}

.contact .submit {
	height: 30px;
	font: 400 14px/30px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #fff;
	padding: 0 25px 0 15px;
	background: #f58228 url(../images/submit-arrow.png) no-repeat 90% center;
	border: 0;
	cursor: pointer;
}

.contact .submit:hover {
	background: #828282 url(../images/submit-arrow.png) no-repeat 90% center;
}

.contact form {
	padding: 20px 0 0 0;
}

.contact ul li {
	float: left;
	padding: 0 0 25px 20px;
}

.contact ul li:first-child {
	padding: 0 0 25px 0;;
}

.contact .leave-message li {
	float: none;
	padding: 0;
}

.contact .leave-message li:first-child {
	padding: 0 0 15px 0;
}

.contact h2,
.location h2 {
	color: #f58228;
}

.contact p,
.location p {
	padding: 0 0 20px 0;
}

.contact.no-border{
    border: none;
}

#container .main .contact ul#checks li {padding: 0 0 15px 0 !important; float: none !important;}
#container .main .contact ul#checks li:first-child {padding: 0 0 15px 0 !important; }
#container .main .contact #checks li .checkbox  {position: relative !important; top: -3px !important; margin: 0 5px 0 0 !important; }

/*
 * Location
 */
.location {
	padding: 30px 0 0 0;
}

.location .googlemap {
	width: 640px;
	height: 410px;
}

.location > ul {
	width: 640px;
	font: 12px/17px Slate W01, Arial;
	color: #000;
	padding: 40px 0 0 0;
}

.location > ul > li {
	float: left;
	width: 33%;
}

.location > ul > li h6 {
	font: 400 13px/17px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #f58228;
	padding: 0 0 10px 0;
}

.location > ul > li ul {
	padding: 0 0 15px 0;
}

.location > ul > li ul li .place {
	font: 400 13px/17px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #000;
}

.location > ul > li ul li .map {
	font: 400 13px/17px Slate W01 Bold, Arial;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}

.location > ul > li ul li .map:hover {
	color: #f58228;
}

/*
 * Top content
 */
.top-content {
	position: relative;
	padding: 0 0 140px 0;
}

/*
 * Top message
 */
.top-message {
	width: 660px;
	font: 18px/22px Slate W01, Arial;
	color: #000;
	padding: 0 0 10px 0;
}

.top-message .title {
	display: block;
	font: 400 18px/22px Slate W01 Bold, Arial;
}

.top-message p {
	padding: 0 0 20px 0;
}

/*
 * Aside where
 */
aside .where {
	height: 70px;
	font: 18px/22px Slate W01 Italic, Arial;
	text-transform: uppercase;
	color: #000;
	padding: 0 10px;
	margin: 0 0 30px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

aside .where .cn {
	font: normal 400 18px/22px Slate W01 Bold, Arial;
	padding: 15px 0 0 0;
}

aside .where .magenta {
	color: #000;
}
aside .where .orange {
	color: #F58228;
}

/*
 * Aside subav
 */
aside .subnav a {
	font: 18px/22px Slate W01, Arial;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
}

aside .subnav .active,
aside .subnav a:hover {
	color: #f58228;
}

aside .subnav > li {
	padding: 7px 0 7px 10px;
	border-bottom: 1px solid #909090;
}

aside .subnav > li:first-child {
	padding: 0 0 7px 10px;
}

aside .subnav > .cn a {
	font: 400 18px/22px Slate W01 Bold Italic, Arial;
}

aside .subnav > li > a {
	font: 400 18px/22px Slate W01 Bold, Arial;
}

aside .subnav > li > p {
	font: 12px/16px Slate W01, Arial;
	text-transform: uppercase;
}
aside .subnav > .keyword-list { font: 400 18px/22px Slate W01 Bold, Arial; color: #000; text-transform: uppercase; }
aside .subnav > li > p a { font: 12px/16px Slate W01, Arial; color: #828282; }
/*
 * Aside button
 */
aside .aside-button {
	padding: 30px 0 0 0;
}

aside .aside-button .button {
	width: 180px;
	text-align: center;
}

/*
 * Separator links
 */
.separator .links {
	float: left;
}

.separator .links li {
	float: left;
	font: 14px/42px Slate W01, Arial;
	text-transform: uppercase;
	padding: 0 30px 0 0;
}

.separator .links li a {
	text-decoration: none;
}

.separator .links li a.active,
.separator .links li.active a,
.separator .links li a:hover {
	color: #828282;
}

/*
 * Separator sort
 */
.separator .sort {
	float: left;
}

.separator .sort li {
	float: left;
	font: 400 16px/42px Slate W01 Bold, Arial;
	padding: 0 30px 0 0;
}

.separator.jobs .sort li {
    padding-right: 10px;
}

.separator.jobs .sort li:first-child {
    padding-right: 30px;
}

.separator .sort li .button {
	width: 90px;
	margin: 0 20px 0 0;
}

.separator.jobs .sort li .button {
    margin-right: 0;
}

.separator.jobs .sort li .search {
    position: relative;
    float: none;
    width: auto;
    height: 32px;
    padding: 5px;
    margin: 0;
    background: #fff;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.7);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.7);
}

.separator.jobs .sort li .search input[type="text"] {
    float: left;
    width: 180px;
    height: 32px;
    font: 400 18px/32px Slate W01, Arial;
    color: #000;
    padding: 0 10px;
    background: #fff;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.separator.jobs .sort li .search input[type="submit"] {
    display: block;
    float: left;
    width: 35px;
    height: 32px;
    font: 0/0 a;
    background: url(../images/jobs-magnifier.png);
    border: 0;
    border-radius: 0;
}

/*
 * Separator search
 */
.separator .search {
	float: left;
	width: 630px;
	height: 21px;
	font-size: 12px;
	padding: 7px 8px 0 8px;
	margin: 8px 0 0 0;
	background: url(../images/separator-search.png);
}

.separator .search .text {
	float: left;
	width: 600px;
	height: 15px;
	font: 12px/15px Slate W01, Arial;
	color: #000;
	background: #fff;
	border: 0;
}

.separator .search .submit {
	float: right;
	width: 15px;
	height: 15px;
	background: #fff url(../images/magnifier.png) no-repeat center center;
	border: 0;
	cursor: pointer;
}

.separator .search-sort {
	float: right;
	margin: 0 -10px 0 0;
}

.separator .search-sort li {
	padding: 0;
}

.separator .search-sort li:first-child {
	padding: 0 30px 0 0;
}

.separator .search-sort li .button {
	margin: 0;
}

/*
 * Boxes jobs
 */
.boxes.jobs > li {
	background: url(../images/gray90.png);
}

.boxes.jobs > li .title {
	display: block;
	height: 52px;
	font: 400 20px/26px "Egyptian Slate W01 Bold", Arial;
	color: #f58228;
	padding: 10px 25px 0 25px;
	margin: 0 0 10px 0;
	overflow: hidden;
}

.boxes.jobs > li .title span {
	display: block;
	font: 400 18px/26px Slate W01 Bold, Arial;
	color: #fff;
}

.boxes.jobs > li .orange p {
	height: 153px;
	margin: 0 0 7px 0;
	overflow: hidden;
}

/*
 * Boxes featured
 */
.boxes.featured > li {
	position: relative;
}

.boxes.featured > li .transparent {
	position: relative;
	color: #fff;
	padding: 15px 25px;
	height: 122px;
	background: url(../images/gray80.png);
}

.boxes.featured > li .transparent .title {
	font: 400 18px/18px Slate W01 Bold, Arial;
	color: #fff;
	text-decoration: none;
}

.boxes.featured > li .transparent time {
	display: block;
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	font: 400 13px/16px Slate W01 Bold Italic, Arial;
	text-align: center;
	color: #fff
}

.boxes.featured > li .image {
	height: 152px;
}

.boxes.featured > li .orange {
	position: absolute;
	height: 102px;
	left: 0;
	bottom: 0;
}

.boxes.featured > li .orange p {
	height: 102px;
	overflow: hidden;
}

/*
 * Boxes twitter
 */
.boxes.twitter > li {
	position: relative;
	background: url(../images/gray80.png);
}

.boxes.twitter > li .tweet {
	height: 200px;
	padding: 15px 25px;
}

.boxes.twitter > li .tweet p {
	font: 400 15px/18px Slate W01 Bold, Arial;
	color: #fff;
	padding: 0 0 10px 0;
}

.boxes.twitter > li .tweet p a {
	text-decoration: none;
}

.boxes.twitter > li .tweet p a:hover {
	text-decoration: underline;
}

.boxes.twitter > li .tweet .twitter {
	display: inline-block;
	zoom: 1;
	*display: inline;
	position: relative;
	top: 2px;
	width: 16px;
	height: 13px;
	margin: 0 5px 0 0;
	background: url(../images/twitter.png);
}

.boxes.twitter > li .tweet time {
	font: 12px/16px Slate W01, Arial;
	color: #fff;
}

.boxes.twitter > li .actions {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 230px;
	height: 74px;
	overflow: hidden;
}

.boxes.twitter > li .actions .top {
	height: 31px;
	color: #fff;
	padding: 6px 0 0 19px;
	background: #009bdc;
}

.boxes.twitter > li .actions .top li {
	float: left;
	text-align: center;
	padding: 0 5px;
}

.boxes.twitter > li .actions .top li a {
	font: 400 11px/16px Slate W01 Bold, Arial;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.boxes.twitter > li .actions .top li a span {
	display: inline-block;
	zoom: 1;
	*display: inline;
	position: relative;
	margin: 0 3px 0 0;
}

.boxes.twitter > li .actions .top li .reply span {
	top: 3px;
	width: 11px;
	height: 12px;
	background: url(../images/reply.png) 0 0;
}

.boxes.twitter > li .actions .top li .reply:hover span {
	background-position: 0 -12px;
}

.boxes.twitter > li .actions .top li .retweet span {
	top: 1px;
	width: 14px;
	height: 8px;
	background: url(../images/retweet.png) 0 0;
}

.boxes.twitter > li .actions .top li .retweet:hover span {
	background-position: 0 -8px;
}

.boxes.twitter > li .actions .top li .favorite span {
	top: 4px;
	width: 15px;
	height: 15px;
	background: url(../images/favorite.png) 0 0;
}

.boxes.twitter > li .actions .top li .favorite:hover span {
	background-position: 0 -15px;
}

.boxes.twitter > li .actions .bottom {
	height: 29px;
	padding: 8px 0 0 40px;
	background: #fff;
}

/*
 * Testimonial
 */
#testimonial {
	font: 400 26px/30px "Egyptian Slate W01", Arial;
	color: #fff;
	padding: 30px 15px;
	/*background: url(../images/gray90.png);*/
	background-color: #8f8f8f;
	margin-bottom: 30px;
	-webkit-box-shadow: 0 8px rgba(0,0,0,.15);
	-moz-box-shadow: 0 8px rgba(0,0,0,.15);
	box-shadow: 0 8px rgba(0,0,0,.15);
}

#testimonial .column {
	float: left;
	width: 430px;
}

#testimonial .column:first-child {
	margin: 0 50px 0 0;
	border-right: 1px solid #fff;
}

#testimonial .quote {
	display: block;
	float: left;
	width: 13px;
}

#testimonial p {
	float: left;
	width: 380px;
	padding: 0 30px 10px 0;
}

#testimonial .author {
	display: block;
	clear: both;
	font: 14px/14px Slate W01 Bold Italic, Arial;
	text-transform: uppercase;
	color: #FFF;
	padding: 0 0 0 10px;
}

/*
 * Slider box
 */
.slider-box .viewport {
	position: relative;
	width: 950px;
	height: 334px;
	overflow: hidden;
}

.slider-box .viewport .overview {
	position: absolute;
	top: 0;
	left: 0;
}

.slider-box .viewport .overview > li {
	float: left;
	width: 950px;
	height: 334px;
}

/*
 * Footer toggle
 */
.footer-toggle {
	display: block;
	position: absolute;
	top: -20px;
	left: -100px;
	width: 50px;
	height: 20px;
	/*background: #ccc;*/
	background-color: #f58026;
	z-index: 200;
}

.footer-toggle span {
	display: block;
	width: 11px;
	height: 10px;
	margin: 5px auto 0 auto;
	background: url(../images/footer-toggle.png) 0 0;
}

.footer-toggle.active {
	background-color: #ccc;
}

.footer-toggle.active span {
	background-position: 0 -10px;
}

/*
 * Footer
 */
footer {
	position: relative;
}

footer h5 {
	font: 400 13px/18px Slate W01 Bold, Arial;
	text-transform: uppercase;
}

footer .shadow {
	-webkit-box-shadow: 0 -8px rgba(0,0,0,.08);
	-moz-box-shadow: 0 -8px rgba(0,0,0,.08);
	box-shadow: 0 -8px rgba(0,0,0,.08);
}

footer .left {
	float: left;
}

footer .right {
	float: right;
}

footer .white {
	height: 80px;
	padding: 23px 0 0 0;
	background: #fff;
	z-index: 100;

}

footer .white.activated {
	position: relative;
}

footer .white .left .connect {
	font: 13px/18px "Egyptian Slate W01", Arial;
	color: #f58228;
	padding: 0 0 20px 0;
}

footer .white .left .connect h5 {
	display: inline-block;
	zoom: 1;
	*display: inline;
	font-weight: 400;
	font-family: Slate W01 Bold, Arial;
	margin: 0 10px 0 0;
}

footer .white .left .links li {
	float: left;
	font: 12px/16px Slate W01, Arial;
	text-transform: uppercase;
	padding: 0 8px;
	border-left: 1px solid #828282;
}

footer .white .left .links li:first-child {
	padding: 0 8px 0 0;
	border: 0;
}

footer .white .left .links li a {
	text-decoration: none;
	color: #828282;
}


.social {
}
	.social__icon {
		display: inline-block;
		width: 32px;
		height: 32px;
		background-image: url(../images/icons-social.png);
		background-repeat: no-repeat;
		padding-left: 10px;
	}
	.social__icon--twitter {
		background-position: 0 0;
	}
	.social__icon--facebook {
		background-position: 0 -32px;	
	}
	.social__icon--linkedin {
		background-position: 0 -64px;
	}
	.social__icon--youtube {
		background-position: 0 -96px;
	}

footer .gray {
	position: absolute;
	bottom: 103px;
	left: 0;
	width: 100%;
	background: #ccc;
	z-index: 99;
}

footer .gray .container {
	position: relative;
}

footer .gray .footer-expand {
	display: none;
}

footer .gray h5 {
	color: #000;
	padding: 0 0 15px 0;
}

footer .gray .left {
	padding: 23px 0;
}

footer .gray .left .columns {
	width: 695px;
	font: 13px/18px Slate W01, Arial;
	color: #000;
	border-right: 2px solid #fff;
}

footer .gray .left .columns > li {
	float: left;
	width: 33%;
}

footer .gray .left .columns > li h6 {
	font: 400 13px/18px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #f58228;
	padding: 0 0 15px 0;
}

footer .gray .left .columns > li ul {
	padding: 0 0 30px 0;
}

footer .gray .left .columns > li ul li .location {
	font: 400 13px/18px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #fff;
}

footer .gray .left .copyright {
	font: 11px/16px Slate W01, Arial;
	color: #000;
	padding: 20px 0;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
}

footer .gray .left .copyright h5 {
	padding: 0 0 5px 0;
}

footer .gray .left .copyright p {
	float: left;
	text-transform: uppercase;
}

footer .gray .left .copyright .image {
	float: right;
	padding: 0 20px 0 0;
	text-transform: none;
}

footer .gray .left .copyright a {
	color: #000;
	text-decoration: none;
}

footer .gray .left .copyright a:hover {
	text-decoration: underline;
}

footer .gray .right {
	width: 225px;
	padding: 23px 0;
}

footer .gray .right ul li {
	padding: 0 0 20px 0;
}

/*
User login form
*/
#user-login-form input.form-text{
    width: 186px;
	height: 34px;
	font: 14px/34px Slate W01, Arial;
	padding: 0 10px;
	background: #e1e1e1;
	border: 0;
}
#user-login-form input.form-submit{
	height: 30px;
	font: 400 14px/30px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #fff;
	padding: 0 25px 0 15px;
	background: #f58228 url(../images/submit-arrow.png) no-repeat 90% center;
	border: 0;
	cursor: pointer;
}

/*
 * Online registration
 */
.online-registration {
	padding: 0 0 30px 0;
}

.online-registration li {
	padding: 0 0 20px 0;
}

.online-registration label {
	display: block;
	clear: both;
	font: 400 13px/22px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #000;
	padding: 0 0 3px 0;
}

.online-registration .text,
.online-registration input[type=text],
.online-registration input[type=password] {
	width: 400px;
	height: 34px;
	font: 14px/34px Slate W01, Arial;
	padding: 0 10px;
	background: #e1e1e1;
	border: 0;
}

.online-registration textarea {
	width: 638px;
	height: 215px;
	font: 14px/20px Slate W01, Arial;
	padding: 10px;
	background: #e1e1e1;
	border: 0;
}

.online-registration .button {
	height: 30px;
	font: 400 14px/30px Slate W01 Bold, Arial;
	text-transform: uppercase;
	color: #fff;
	padding: 0 25px 0 15px;
	background: #f58228;
	border: 0;
	cursor: pointer;
}

.online-registration .button:hover {
	background: #828282;
}

.online-registration input[type=checkbox] {
	position: relative;
	top: -2px;
	margin: 0 5px 0 0;
}

.contact .text.error,
.contact input[type=text].error,
.contact input[type=password].error,
.online-registration .text.error,
.online-registration input[type=text].error,
.online-registration input[type=password].error {
	color: #900;
	background: #f2cdcd;
}

.online-registration .leave-message li {
	float: right;
}

.online-registration .leave-message li:first-child {
	float: left;
}

.online-registration li > div {
	padding: 0 0 20px 0;
}

.online-registration li > .jquery-selectbox {
	padding: 0 10px;
}

.online-registration .jquery-selectbox,
.online-registration .jquery-selectbox-list {
		width: 400px;
}

.online-registration .jquery-selectbox-currentItem {
	width: 350px;
}

.online-registration .registration-title {
	display: block;
	font-size: 16px;
	color: #000;
	padding: 0 0 5px 0;
}

.online-registration .form-checkboxes .checkbox-column label {
	display: inline;
	font: 14px/20px Slate W01, Arial;
	text-transform: none;
	padding: 0;
}

.online-registration .form-checkboxes .checkbox-column {
	float: left;
	width: 45%;
	padding: 0 0 10px 0;
}

.online-registration .form-checkboxes .checkbox-column:nth-child(odd),
.online-registration .form-checkboxes .checkbox-column.odd {
	clear: both;
	padding: 0 10% 10px 0;
}

.online-registration .step-one .checkbox-column {
	float: left;
	padding: 0 0 20px 5px;
}

.online-registration .step-one li {
	overflow: hidden;
}

.online-registration .step-one .checkbox-column input[type=checkbox] {
	top: -1px;
}

.online-registration p {
	padding: 0 0 20px 0;
}

/*
 * sfModal
 */
/*
 * Modal
 */
.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 720px;
	height: 500px;
	padding: 30px 0;
	background: #fff;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 20px rgba(20,0,0,0.2);
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	z-index: 9999;
}

.modal .paragraph {
	height: 500px;
	padding: 0 30px;
	overflow-y: scroll;
}

/*
 * Drupal overlay
 */
#overlay-container, .overlay-modal-background, .overlay-element {
    z-index: 9999;
}

/*
 * pagination
 */
.pagination {
	font: 400 18px/18px Slate W01 Bold, Arial;
	margin-top: 25px;
	margin-bottom: 5px;
}
	.pagination__summary {
		float: left;
		color: #000;
	}
	.pagination__links {
		float: right;
	}
	.pagination__num {
		text-decoration: none;
		padding-left: 5px;
	}
	.pagination__num--selected {
		color: #000;
	}
	.pagination__spacer {
		padding-left: 5px;
		color: #828282;
	}
	.pagination__link {
		text-decoration: none;
		padding-left: 10px;
	}

/*
 * result-item
 */
.result-item {
	padding-top: 20px;
}
	.result-item__col {
		position: relative;
		float: right;
		width: 210px;
		/*padding: 0 0 30px 0;*/
		/*margin: 0 0 30px 0;*/
		border-bottom: 1px solid #000;
		min-height: 65px;
	}
	.result-item__col--first {
		float: left;
		width: 625px;
	}
	.result-item__col--last {
		padding-left: 10px;
	}
	.result-item__heading {
		font: 400 18px/24px Slate W01 Bold,Arial;
	}
	.result-item__link {
		color: #828282;
		text-decoration: none;
	}
	.result-item__num {
		float: left;
		font: 400 18px/24px "Egyptian Slate W01 Bold", Arial;
		color: #f58228;
	}
	.result-item__num:after {
		content: '|';
		padding-left: 10px;
	}
	.result-item__title {
		float: left;
		padding-left: 10px;
	}
	.result-item__cta {
		font: 400 14px/14px Slate W01 Bold, Arial;
		display: inline-block;
		color: #f58228;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		background-color: #FFF;
		border: 2px solid #c0c0c0;
		padding: 8px;
		min-width: 126px;
		float: right;
	}



.link-list {
	
}
	.link-list__item {
	}
	.link-list__link {
		font: 400 12px/12px Slate W01 Bold, Arial;
		text-transform: uppercase;
		text-decoration: none;
	}





